@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #e5e5e5;
  --primary: #0261FF;
  --primary-foreground: #FFFFFF;
  --card: #181818;
  --border: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sofia-sans);
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}